div.App {
    display: flex;
    width: 140px;
    margin: 30vw;
}

div.App div:nth-child(n){
    margin-right: 10px;
}


div.App div button {
    width: 40px;
}


div.Number input[type=text] {
    width: 30px;
    text-align: center;
}